page-dynamic-html {
    .header{
        width:100%;
        border-bottom: 1px solid #dedede;
        background-color: #f4f4f4;
    }
    .swiper-slide{
        display: initial;
    }
    .slide-zoom{
        text-align: left;
    }  
}
