page-home {

    .item-ios ion-thumbnail ion-img,
    .item-ios ion-thumbnail img {
        width: 80px;
        height: 80px;
    }
    #selectProduct-heading1 {
        margin-left: 15px;
    }
   @media (max-width: 567px) {
       /* Small devices such as phone */
        .item-ios ion-thumbnail ion-img,
        .item-ios ion-thumbnail img {
            width: 60px;
            height: 60px;
        }
        #selectProduct-heading1 {
            margin-left: 15px;
            font-size: 1.3em;
        }
    }
    @media (min-width: 567px) {
        /* Larger than a phone */
        .item-ios ion-thumbnail ion-img,
        .item-ios ion-thumbnail img {
            width: 60px;
            height: 60px;
        }
        #selectProduct-heading1 {
            margin-left: 15px;
            font-size: 1.2em;
        }
    }

}