bot-ui-flow2 {
    // .scroll-content {
    //     margin-top: 44px !important;
    //     margin-bottom: 185px !important;
    // }
    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #617fef !important;
        fill: #617fef !important;
    }
    .add-btn {
        font-size: 1.6em;
        margin-right: 0.7em
    }
    .del-btn {
        font-size: 1.6em;
        margin-left: 0.7em
    }
    .text-number {
        font-size: 1.3em;
    }
    .input-wrap {
        padding: 0 5px;
        ion-textarea {
            position: static;
        }
        ion-col.col {
            padding: 0;
        }
        button {
            width: 100%;
            height: 55px;
            font-size: 1.3em;
            margin: 0;
        }
        textarea {
            border-bottom: 1px #d4cece;
            border-style: solid;
        }
    }
    $colors: ( primary: #387ef5, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222, favorite: #69BB7B, border: #e6e9ee, default-black: #000000);
    @media (max-width: 567px) {
        //Small likes iphone5 < 567px
        .img-user-list {
            width: 50px;
            border-radius: 50%;
        }
        .micac {
            width: 110px;
            height: 30%;
            margin: auto;
        }
        .img-for-bot {
            width: 50px;
            border-radius: 50%;
            position: absolute;
        }
        .message-box-left {
            margin-left: 4.5em;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #617fef;
            width: auto;
            border-bottom-width: 0;
            border-top-width: 0;
            border-right-width: 0;
            color: #617fef;
        }
        .message-box-left-noborder {
            margin-left: 4.5em;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #617fef;
            width: auto;
            border-left-width: 0;
            border-bottom-width: 0;
            border-top-width: 0;
            border-right-width: 0;
            color: #617fef;
        }
        .img-for-user {
            width: 50px;
            border-radius: 50%;
            position: absolute;
            right: 0;
        }
        .message-box-right {
            text-align: right;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #d0d0d0;
            width: auto;
            border-bottom-width: 0;
            border-top-width: 0;
            border-left-width: 0;
        }
        .message-box-right-noborder {
            text-align: right;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #d0d0d0;
            width: auto;
            border-right-width: 0;
            border-bottom-width: 0;
            border-top-width: 0;
            border-left-width: 0;
        }
        .padding-right-user {
            padding-right: 65px;
        } //
        .margin-top-20 {
            margin-top: 20px;
        }
        .position-relative {
            position: relative;
        }
        .margin-0 {
            margin: 0;
        }
        margin-top-1 {
            margin-top: 1em;
        }
        .padding-0 {
            padding: 0;
        }
        .margin-top-d7 {
            margin: -7px;
        }
        .boder-radius-15 {
            border-radius: 15px;
        }
        .img-item {
            height: 7em;
            max-height: 7em;
        }
        .card-title {
            font-size: 1em;
            padding: 0 5px;
            margin-top: 8px;
        }
        .card-row {
            border-bottom: 1px solid;
            border-color: #d4cece;
            margin-top: -6px;
        }
        .color-black {
            color: black
        }
        .btn-buy {
            color: black;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }
    }
    @media (min-width: 567px) {
        //Large > 567px
        .img-user-list {
            width: 50px;
            border-radius: 50%;
        }
        .micac {
            width: 110px;
            height: 30%;
            margin: auto;
        }
        .img-for-bot {
            width: 50px;
            border-radius: 50%;
            position: absolute;
        }
        .message-box-left {
            margin-left: 4.5em;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #617fef;
            width: auto;
            border-bottom-width: 0;
            border-top-width: 0;
            border-right-width: 0;
            color: #617fef;
        }
        .message-box-left-noborder {
            margin-left: 4.5em;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #617fef;
            width: auto;
            border-left-width: 0;
            border-bottom-width: 0;
            border-top-width: 0;
            border-right-width: 0;
            color: #617fef;
        }
        .img-for-user {
            width: 50px;
            border-radius: 50%;
            position: absolute;
            right: 0;
        }
        .message-box-right {
            text-align: right;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #d0d0d0;
            width: auto;
            border-bottom-width: 0;
            border-top-width: 0;
            border-left-width: 0;
        }
        .message-box-right-noborder {
            text-align: right;
            position: relative;
            margin-top: 15px;
            padding: 8px;
            border: 4px solid #d0d0d0;
            width: auto;
            border-right-width: 0;
            border-bottom-width: 0;
            border-top-width: 0;
            border-left-width: 0;
        }
        .padding-right-user {
            padding-right: 65px;
        } //
        .margin-top-20 {
            margin-top: 20px;
        }
        .position-relative {
            position: relative;
        }
        .margin-0 {
            margin: 0;
        }
        margin-top-1 {
            margin-top: 1em;
        }
        .padding-0 {
            padding: 0;
        }
        .margin-top-d7 {
            margin: -7px;
        }
        .boder-radius-15 {
            border-radius: 15px;
        }
        .img-item {
            height: 7em;
            max-height: 7em;
        }
        .card-title {
            font-size: 1em;
            padding: 0 5px;
            margin-top: 8px;
        }
        .card-row {
            border-bottom: 1px solid;
            border-color: #d4cece;
            margin-top: -6px;
        }
        .color-black {
            color: black
        }
        .btn-buy {
            color: black;
            margin-top: 0.8em;
            margin-bottom: 0.8em;
        }
    }
}